/* --- 
template.css

Principais estilos do template 

1 - Simulador de barra de nav
2 - Hero
3 - Parallax
4 - Carrossel
5 - SVG
--- */

/* 1 - Simulador de barra de nav */

.browser-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.red {
  background-color: #ff5f57;
}

.yellow {
  background-color: #ffbd2e;
}

.green {
  background-color: #28c940;
}

/* 2 -  Hero */

.hero {
  display: flex;
  align-items: center;
  height: 45vh;
  background-image: url(https://source.unsplash.com/random/?computer&10);
  background-size: cover;
  margin: 0;
  padding: 0;
}

.textHero {
  background-color: var(--primary);
  mix-blend-mode: normal;
  opacity: 0.85;
  color: var(--primary-contrast);
}

/* 3 - Parallax */

.parallax {
  /* The image used */
  background-image: url("https://source.unsplash.com/random/?coding");

  /* Set a specific height */
  min-height: 20vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  background-color: var(--primary);
  mix-blend-mode: normal;
  opacity: 0.3;
  z-index: 1;
  background-size: cover;

}


/* 4 - Carrossel */


.user-mask {
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  max-width: 100px;
  max-height: 100px;
}

.location {
  font-size: 0.8rem;
}

@media screen and (max-width: 600px) {
  .card {
    border: none;
    box-shadow: none;

  }
}

.carousel-control-next,
.carousel-control-prev
  {
  filter: invert(100%);
}

/* 5 - SVG */

.svg-icon-1 path,
.svg-icon-1 polygon,
.svg-icon-1 rect {
  fill: var(--primary);
}

.svg-icon-2 path,
.svg-icon-2 polygon,
.svg-icon-2 rect {
  fill: var(--accent);
}

/* Frame video */

.frame {
  border: 3px solid var(--accent);
  margin: auto;
  padding: 15px 10px;
}
