/* FONTS TYPE AND SIZE */

html {
  width: 100%;
  overflow-y: auto ;
  
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');    
@import url('https://fonts.googleapis.com/css2?family=Armata&display=swap');

h1, h2, h3, h5 {
    font-family: Armata;
}
h5{
  font-size: 1.2rem;
}

.scrollable-column {
  height: 100dvh; 
  overflow-y: auto;
  overflow-x: hidden;
  position: sticky;
  top: 0;
}

.btn-tools {
    background-color: transparent;

    &:hover {
        box-shadow: 0px 0 0 4px var(--accent);
        color: var(--accent-contrast);
      }
    
      &:active {
        box-shadow: 0px 0 0 4px var(--primary);
    
      }

}

#navbar{
  position: relative;
  z-index: 1;
}
/*
PRIMARY
*/

.primary{
    background-color: var(--primary);
    color: var(--primary-contrast);
    
}
.text_primary{
    color: var(--primary);
}
.accent{
    background-color: var(--accent);
    color: var(--accent-contrast);
}
.text_accent{
    color: var(--accent);
}

.neutral{
    background-color: var(--neutral);
    color: var(--neutral-contrast);
}
.text_neutral{
    color: var(--neutral);
}
.text_hero{
  color:var(--primary-contrast)
}




  .btn-accent{
    background-color: var(--accent);
    color: var(--accent-contrast);

  }

  .browser-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  .red { background-color: #ff5f57; }
  .yellow { background-color: #ffbd2e; }
  .green { background-color: #28c940; }

  .btn-outline-primary_A {
    color: var(--primary);
    border-color: var(--primary);
    border-width: 2px;

    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .btn-outline-primary_A:hover {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
    
  }
  
  .btn-outline-primary_A:focus,
  .btn-outline-primary_A.focus {
    outline:none;
    box-shadow: none;

  }
  
  .btn-outline-primary_A.disabled,
  .btn-outline-primary_A:disabled {
    color: var(--primary);
    background-color: transparent;
  }
  
  .btn-outline-primary_A:not(:disabled):not(.disabled):active,
  .btn-outline-primary_A:not(:disabled):not(.disabled).active,
  .show > .btn-outline-primary_A.dropdown-toggle {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
    transition-duration: 0s;
  }
  
  .btn-outline-primary_A:not(:disabled):not(.disabled):active:focus,
  .btn-outline-primary_A:not(:disabled):not(.disabled).active:focus,
  .show > .btn-outline-primary_A.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
    transition-duration: 0s;
    outline: none;
  }
  
  .btn-outline-accent {
    color: var(--accent);
    border-color: var(--accent);
    border-width: 2px;

    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .btn-outline-accent:hover {
    color: #fff;
    background-color: var(--accent);
    border-color: var(--accent);
  }
  
  .btn-outline-accent:focus,
  .btn-outline-accent.focus {
    outline: none;
    box-shadow: none;
  }
  
  .btn-outline-accent.disabled,
  .btn-outline-accent:disabled {
    color: var(--accent);
    background-color: transparent;
  }
  
  .btn-outline-accent:not(:disabled):not(.disabled):active,
  .btn-outline-accent:not(:disabled):not(.disabled).active,
  .show > .btn-outline-accent.dropdown-toggle {
    color: #fff;
    background-color: var(--accent);
    border-color: var(--accent);
    transition-duration: 0s;
  }
  
  .btn-outline-accent:not(:disabled):not(.disabled):active:focus,
  .btn-outline-accent:not(:disabled):not(.disabled).active:focus,
  .show > .btn-outline-accent.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
    transition-duration: 0s;
    outline: none;
  }
  
  .btn-outline-neutral {
    color: var(--neutral);
    border-color: var(--neutral);
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .btn-outline-neutral:hover {
    color: #fff;
    background-color: var(--neutral);
    border-color: var(--neutral);
  }
  
  .btn-outline-neutral:focus,
  .btn-outline-neutral.focus {
    outline: none;
    box-shadow: none;
  }
  
  .btn-outline-neutral.disabled,
  .btn-outline-neutral:disabled {
    color: var(--neutral);
    background-color: transparent;
  }
  
  .btn-outline-neutral:not(:disabled):not(.disabled):active,
  .btn-outline-neutral:not(:disabled):not(.disabled).active,
  .show > .btn-outline-neutral.dropdown-toggle {
    color: #fff;
    background-color: var(--neutral);
    border-color: var(--neutral);
    transition-duration: 0s;
  }
  
  .btn-outline-neutral:not(:disabled):not(.disabled):active:focus,
  .btn-outline-neutral:not(:disabled):not(.disabled).active:focus,
  .show > .btn-outline-neutral.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
    transition-duration: 0s;
    outline: none;
  }
  




.btn-outline-accent {
  color: var(--accent);
  border-color: var(--accent);
  border-width: 3px;

  transition: background-color 0.3s, border-color 0.3s;
}

.btn-outline-accent:hover {
  color: #fff;
  background-color: var(--accent);
  border-color: var(--accent);
}

@media only screen and (max-width: 768px)   {
  table {
    font-size: 0.8rem;
    table-layout:fixed;
    width:100%;
  }



.custom-width {
  max-width: 33%;
  transition: none; /* Adicione uma transição suave para a mudança de largura */
}
.custom-width.primary {
  max-width: 34%;
}

.custom-width.accent {
  max-width: 33%;
}

}

/*cores na lista paleta*/
.neutral-bar {
  background-color: var(--neutral-color);
  width: 30px;
  height: 10px;
}

.primary-bar {
  background-color: var(--primary-color);
  width: 30px;
  height: 10px;
}

.accent-bar {
  background-color: var(--accent-color);
  width: 30px;
  height: 10px;
}
